* {
    box-sizing: border-box;  
}

body {
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family: 'Chilanka', cursive;
}

#menu {
    border: 1px solid white;
    background-color: gray;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
    margin: 0 15px;
}

#menu a {
    border: 1px solid white;
    padding: 17px 20px;
    text-decoration: none;
    text-align: center;
    color: cyan;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#menu a:hover {
    background-color: cyan;
    color: black;
}

h2 {
    color: magenta;
}

img {
    max-width: 100%;
    height: auto;
}

#education, #projects, #contacts {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 50px;
    background-color: #e4e4cd;
    width: 90%;
    text-align: center;
    font-family: 'Big Shoulders Text', cursive;
    position: relative;
}

#projects {
    display: flex;
    flex-wrap: wrap; /* Делаем так, чтобы блоки не выходили за пределы */
    justify-content: center; /* Центрируем блоки */
}

#projects div {
    border: 1px solid #b8bdd4;
    width: 300px;
    height: 210px;
    margin: 15px;
    position: relative;
}

#contacts a {
    text-decoration: none;
}

/* Медиазапросы для мобильных устройств */
@media screen and (max-width: 768px) {
    #projects {
        flex-direction: column; /* Блоки становятся вертикальными на мобильных устройствах */
    }

    #projects div {
        width: 80%; /* Уменьшаем ширину блоков */
        margin: 10px auto; /* Центрируем блоки */
    }
}

@media screen and (max-width: 480px) {
    #projects div {
        width: 90%; /* Еще больше уменьшаем ширину блоков */
    }
}
