* {
    box-sizing: border-box;  
}

body {
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family: 'Chilanka', cursive;
}

#menu {
    border: 1px solid white;
    background-color: gray;
    height: 60px;
}

ul li {
    float: left;
    list-style-type: none;
}

#menu a {
    border: 1px solid white;
    padding: 17px 10px;
    text-decoration: none;
    text-align: center;
    color: cyan;
    display: inline-block;
}

h2 {
    color: magenta;
}

img {
    max-width: 100%;
    height: auto;
}

#education, #projects, #contacts {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 50px;
    background-color: #e4e4cd;
    width: 90%;
    text-align: center;
    font-family: 'Big Shoulders Text', cursive;
    position: relative;
}

#education, #projects, #contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#projects div {
    border: 1px solid #b8bdd4;
    width: 300px;
    height: 210px;
    margin: 15px;
    position: relative;
}

#contacts a {
    text-decoration: none;
}

@media (max-width: 768px) {
    #menu a {
        width: auto;
        padding: 10px;
    }

    #education, #projects, #contacts {
        width: 100%;
        flex-direction: column;
    }

    #projects div {
        width: 100%;
        height: auto;
    }
}

