* {
    box-sizing: border-box;
    
}

body {
	margin : 0;
	padding : 0;
	background-color : beige;
	font-family: 'Chilanka', cursive;
}

#menu {
	border: 1px solid white;
	background-color : gray;
	height : 50px;
}

ul li {
	float : left;
	list-style-type: none;
}

#menu a {
	border : 1px solid white;
	padding:17px 10px;
	width : 20%;
	text-decoration: none;
	text-align: center;
	color: cyan;
}

h2 {
	color: magenta;
}

img {
	width : 100%;
}

#about_my,#projects,#contacts {
	margin:0 auto;
	margin-bottom: 20px;
	padding: 10px 50px;
	background-color: #e4e4cd;
	width:90%;
	text-align:center;
	font-family: 'Big Shoulders Text', cursive;
	position:relativ;
}

#projects div{
	border:1px solid #b8bdd4;
	display: inline-block;
	width: 300px;
	height: 210px;
	margin: 15px;
	position: relative;	
}

#contacts a {
	text-decoration:none;
}
